* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    transition: all 0.5s ease-in;
    background: linear-gradient(to bottom, rgb(60, 53, 19), rgb(90, 77, 25));
    font-family: 'Poppins', sans-serif;
    color: white;
}

main hr {
    border: 0;
    background-color: rgb(225, 192, 86);
    height: 1.5px;
    margin: 40px 35px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: linear-gradient(to right, rgb(104, 92, 36), rgb(140, 115, 25));
    box-shadow: 5px 10px 0.5px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    margin: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(255, 232, 138);
    font-size: 1.05rem;
    text-shadow: 2px 10px 20px rgb(67, 63, 9);
}

.left {
    font-size: 1.8rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 3vw 0px;
    align-items: center;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
    margin: 50px 0px;
}

.rightSection {
    width: 60%;
    height: 60%;
}

.rightSection img {
    width: 80%;
    margin: 40px;
    box-shadow: 5px 20px 50px rgb(56, 52, 4);
    border-radius: 50px;
    box-sizing: border-box;
    border: 10px solid rgb(79, 71, 10);
}

.rightSection img:hover {
    transform: scale(0.99);
    border: 0;
    box-shadow: 0px 0px 50px rgb(255, 227, 101);
}

nav .dot {
    height: 20px;
    width: 20px;
    border: 1px rgb(209, 192, 192) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

nav #dotContainer {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 10%;
}

nav .dot button {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

nav .dot button:hover {
    transform: scale(1.3);
    box-shadow: 2px 2px 10px rgb(255, 242, 118);
}

nav #yellow button {
    background-color: yellow;
}

nav #blue button {
    background-color: blue;
}

nav #green button {
    background-color: rgb(11, 215, 45);
}

.nameColor {
    color: rgb(255, 211, 84);
}

.workColor {
    color: rgb(217, 178, 60);
}

#element {
    color: rgb(255, 211, 84);
}

.secondSection {
    margin: auto;
    max-width: 80vw;
    height: 80vw;
}

.secondSection h1 {
    font-size: 1.8rem;
}

.secondSection .horizontalLine {
    background-color: white;
    width: 78vw;
    height: 2px;
    margin: 58px 0;
    display: flex;
    justify-content: space-between;
}

.secondSection .verticalLine {
    width: 0.5px;
    height: 70px;
    background-color: white;
    margin: 0px 50px;
}

.verticalLine .title-img {
    height: 25px;
    width: 25px;
    position: relative;
    top: -26px;
    left: -10px;
}

.verticalLine .title-text {
    font-style: oblique;
    position: relative;
    top: 38px;
    left: -20px;
}

.verticalLine .description-text {
    position: relative;
    top: 38px;
    width: 200px;
    left: -20px;
    font-size: 10px;
    font-style: italic;
    color: rgb(217, 178, 60);
}

footer {
    height: 12vw;
    background-color: #2e2600;
    color: rgb(245, 229, 180);
    display: flex;
}

.leftFooter {
    width: 20%;
    margin: 0px 30px;
}

.rightFooter {
    width: 80%;
    margin: 0px 30px;
}

.phone,
.email {
    display: flex;
    align-items: center;
}

.phone:hover,
.email:hover {
    color: rgb(255, 229, 90);
}

.phone img,
.email img {
    width: 25px;
    height: 23px;
    background-color: rgb(217, 183, 45);
    box-shadow: 1px 2px 3px white;
}

.phone img:hover,
.email img:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 3px rgb(255, 245, 162);
}

.www {
    padding: 20px 0px 0px 40px;
    font-size: 15px;
    color: rgb(116, 106, 93);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    padding: 0px 20px;
}

.logo img {
    height: 60px;
    width: 60px;
}

#line {
    width: 3px;
    height: 100%;
    background-color: rgb(161, 132, 33);
}

.logo {
    box-shadow: 2px 2px 5px black;
}

.logo:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(255, 255, 153);
}